[Desktop Entry]
Name=ep-qrcode-calibtool
Exec=/opt/xmover/app/ep-qrcode-calibtool/start.sh
Type=Application
Icon=/opt/xmover/app/ep-qrcode-calibtool/ep-qrcode-calibtool.png
Terminal=false
Name[zh_CN]=二维码调试工具
